In [9]:
import pandas as pd

train = pd.read_csv('./spooky_author/train.csv')
train.describe()
first = train.head(5)
print(first)
last = train.tail(5)
print(last)

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL
            id                                               text author
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

In [12]:
train.sample(3)

            id                                               text author
4919   id06489  She went on, feeling that, if she had paused f...    MWS
13338  id01169  Beloved and venerable parent He still remained...    MWS
3831   id19886  In spite of her tender nursing, the health of ...    MWS

In [20]:
# import `sample` from `random`
from random import sample
import numpy as np

# Create a random index
randomIndex = np.array(sample(range(len(train)), 5))

# Get 5 random rows
trainSample = train.iloc[randomIndex]

# Print the sample
print(trainSample)

            id                                               text author
18309  id20145  About eight o'clock at night, having become se...    EAP
17516  id11060  No such paradises are to be found in reality a...    EAP
772    id13769  When they had retired to rest, if there was an...    MWS
14581  id03247  The same individual submitted to me, without b...    EAP
12185  id24687  Once more in shadow, I resumed my former dog t...    HPL

In [27]:
train.query('id == "id20145"')

            id                                               text author
18309  id20145  About eight o'clock at night, having become se...    EAP

In [28]:
pd.isnull(train)

          id   text  author
0      False  False   False
1      False  False   False
2      False  False   False
3      False  False   False
4      False  False   False
5      False  False   False
6      False  False   False
7      False  False   False
8      False  False   False
9      False  False   False
10     False  False   False
11     False  False   False
12     False  False   False
13     False  False   False
14     False  False   False
15     False  False   False
16     False  False   False
17     False  False   False
18     False  False   False
19     False  False   False
20     False  False   False
21     False  False   False
22     False  False   False
23     False  False   False
24     False  False   False
25     False  False   False
26     False  False   False
27     False  False   False
28     False  False   False
29     False  False   False
...      ...    ...     ...
19549  False  False   False
19550  False  False   False
19551  False  False   False
19552  False  False   False
19553  False  False   False
19554  False  False   False
19555  False  False   False
19556  False  False   False
19557  False  False   False
19558  False  False   False
19559  False  False   False
19560  False  False   False
19561  False  False   False
19562  False  False   False
19563  False  False   False
19564  False  False   False
19565  False  False   False
19566  False  False   False
19567  False  False   False
19568  False  False   False
19569  False  False   False
19570  False  False   False
19571  False  False   False
19572  False  False   False
19573  False  False   False
19574  False  False   False
19575  False  False   False
19576  False  False   False
19577  False  False   False
19578  False  False   False

[19579 rows x 3 columns]